{% load static %}

<!-- Middle Column -->
<div class="w3-col m7">

    <div class="w3-row-padding">
        <div class="w3-col m12">
            <div class="w3-card w3-round w3-white">
                <div class="w3-container w3-padding">
                    <h6 class="w3-opacity">Social Media template by w3.css</h6>
                    <p contenteditable="true" class="w3-border w3-padding">Status: Feeling Blue</p>
                    <button type="button" class="w3-button w3-theme">
                        <i class="fa fa-pencil"></i>
                        Postagem</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Trabalhos ou atividades lançadas pelos professores -->
    <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <!-- <img src="/w3images/avatar2.png" alt="Avatar" class="w3-left w3-circle
        w3-margin-right" style="width:60px"> -->

        {% for disciplina in disciplinas %}
            <span class="w3-right w3-opacity">Professor:
                {{ disciplina.professor }}</span>
            <h4>Disciplina:
                {{ disciplina }}</h4><br>
            <hr class="w3-clear">

            <p>Descrição da atividade</p>
            <div class="w3-row-padding" style="margin:0 ">
                <p>Atividade
                    {{ disciplina.atividade }}</p>
            </div>
        {% endfor %}

        <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom">
            <i class="fa fa-thumbs-up"></i>
            Like</button>
        <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom">
            <i class="fa fa-comment"></i>
            Comment</button>
    </div>
    <!-- End Middle Column -->
</div>